Repository kube-nexus/kubenexus-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit hooks for KubeNexus Scheduler
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: ["-w", "-s"]
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: go test
        entry: bash -c 'make test'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: 'go\.(mod|sum)$'
        pass_filenames: false

feat: Add ProfileClassifier and enhance plugins with 3-axis architecture
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/networkfabric/networkfabric.go
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/preemption/gang_preemption_test.go
  pkg/plugins/profileclassifier/profileclassifier.go
  pkg/plugins/profileclassifier/profileclassifier_test.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/tenanthardware/tenanthardware.go
  pkg/plugins/tenanthardware/tenanthardware_test.go
  pkg/plugins/topologyspread/topologyspread.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/vramscheduler/vramscheduler_test.go
  pkg/plugins/workloadaware/workloadaware.go
Due: go-fmt, go-vet, go-test

Feat/profile classifier 3axis (#10)
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/networkfabric/networkfabric.go
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/preemption/gang_preemption_test.go
  pkg/plugins/profileclassifier/profileclassifier.go
  pkg/plugins/profileclassifier/profileclassifier_test.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/tenanthardware/tenanthardware.go
  pkg/plugins/tenanthardware/tenanthardware_test.go
  pkg/plugins/topologyspread/topologyspread.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/vramscheduler/vramscheduler_test.go
  pkg/plugins/workloadaware/workloadaware.go
Due: go-fmt, go-vet, go-test

Fix linting issues: handle unchecked errors and remove unused code
  cmd/webhook/main.go
  config/config.yaml
  pkg/plugins/resourcereservation/resourcereservation.go
Due: go-fmt, go-vet, go-test

chore: migrate to kube-nexus org and fix gosec vulnerability
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
  cmd/scheduler/main.go
  cmd/webhook/main.go
  docs/QUICK_START_COMPARISON.md
  docs/TESTING_GUIDE.md
  docs/UPSTREAM_COMPARISON.md
  go.mod
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/coscheduling/coscheduling_test.go
  pkg/plugins/networkfabric/networkfabric.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/profileclassifier/profileclassifier.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/resourcefragmentation/fragmentationscore_test.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/resourcereservation/resourcereservation_test.go
  pkg/plugins/tenanthardware/tenanthardware.go
  pkg/plugins/tenanthardware/tenanthardware_test.go
  pkg/plugins/topologyspread/topologyspread.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/vramscheduler/vramscheduler_test.go
  pkg/plugins/workloadaware/workloadaware.go
  pkg/workload/classification.go
  test/benchmark/scheduler_bench_test.go
Due: go-fmt, go-vet, go-test, go-mod-tidy

fix: resolve scheduler panics and improve gang scheduling robustness
  .gitignore
  Makefile
  config/config.yaml
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/workloadaware/workloadaware.go
  test/e2e/fixtures/gang-reservation-test.yaml
Due: go-fmt, go-vet, go-test

fix: resolve scheduler panics and improve gang scheduling robustness (#15)
  .gitignore
  Makefile
  config/config.yaml
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/workloadaware/workloadaware.go
  test/e2e/fixtures/gang-reservation-test.yaml
Due: go-fmt, go-vet, go-test

docs: streamline README and clarify architectural positioning
  README.md
Due: none

docs: add detailed feature and architecture documentation
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: none

Docs/streamline readme (#16)
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#17)
  README.md
Due: none

docs: enhance positioning with heterogeneity differentiation
  README.md
Due: none

docs: enhance positioning with heterogeneity differentiation (#18)
  README.md
Due: none

feat: Add DRA ResourceSlice integration and comprehensive metrics instrumentation
  README.md
  SUPPORT.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/SCHEDULER_COMPARISON.md
  docs/VERSION_COMPATIBILITY.md
  pkg/plugins/vramscheduler/dra.go
  pkg/plugins/vramscheduler/nfd.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/vramscheduler/vramscheduler_test.go
  pkg/scheduler/metrics.go
Due: go-fmt, go-vet, go-test

Add metrics in other plugins
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/scheduler/metrics.go
Due: go-fmt, go-vet, go-test

feat: Add DRA ResourceSlice integration and comprehensive metrics instrumentation (#20)
  README.md
  SUPPORT.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/SCHEDULER_COMPARISON.md
  docs/VERSION_COMPATIBILITY.md
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/vramscheduler/dra.go
  pkg/plugins/vramscheduler/nfd.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/vramscheduler/vramscheduler_test.go
  pkg/scheduler/metrics.go
Due: go-fmt, go-vet, go-test

fix: enterprise hardening — concurrency, security, observability, and CRD maturity
  Makefile
  cmd/webhook/main.go
  config/crd-resourcereservation.yaml
  deploy/kubenexus-scheduler-ha.yaml
  deploy/kubenexus-scheduler.yaml
  pkg/apis/scheduling/v1alpha1/types.go
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/networkfabric/networkfabric.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/workloadaware/workloadaware.go
  pkg/scheduler/metrics.go
  pkg/webhook/pod_mutation.go
Due: go-fmt, go-vet, go-test

fix: enterprise hardening — concurrency, security, observability, and CRD maturity (#21)
  Makefile
  cmd/webhook/main.go
  config/crd-resourcereservation.yaml
  deploy/kubenexus-scheduler-ha.yaml
  deploy/kubenexus-scheduler.yaml
  pkg/apis/scheduling/v1alpha1/types.go
  pkg/plugins/backfill/backfill.go
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/networkfabric/networkfabric.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/vramscheduler/vramscheduler.go
  pkg/plugins/workloadaware/workloadaware.go
  pkg/scheduler/metrics.go
  pkg/webhook/pod_mutation.go
Due: go-fmt, go-vet, go-test

fix: critical logic bugs across plugins - hard rejection filters, metrics, topology checks
  .gitignore
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/vramscheduler/vramscheduler.go
Due: go-fmt, go-vet, go-test

fix: critical logic bugs across plugins - hard rejection filters, metrics, topology checks (#23)
  .gitignore
  pkg/plugins/coscheduling/coscheduling.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/vramscheduler/vramscheduler.go
Due: go-fmt, go-vet, go-test

fix: add permissions block to security workflow for SARIF uploads
  .github/workflows/security.yml
Due: none

fix: upgrade CodeQL Action to v4 and ensure proper SARIF upload permissions
  .github/workflows/security.yml
Due: none

Fix/security workflow permissions (#24)
  .github/workflows/security.yml
Due: none

feat: Implement critical plugin improvements - Phase 1
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/workloadaware/workloadaware.go
Due: go-fmt, go-vet, go-test

feat: Implement plugin improvements Phase 2 - Fragmentation & Preemption
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
Due: go-fmt, go-vet, go-test

feat: Complete plugin improvements - Backfill, ProfileClassifier enhancements
  pkg/plugins/backfill/backfill.go
  pkg/plugins/profileclassifier/profileclassifier.go
Due: go-fmt, go-vet, go-test

feat: improve plugin scoring for broader use case coverage (#25)
  pkg/plugins/backfill/backfill.go
  pkg/plugins/numatopology/numatopology.go
  pkg/plugins/preemption/gang_preemption.go
  pkg/plugins/profileclassifier/profileclassifier.go
  pkg/plugins/resourcefragmentation/fragmentationscore.go
  pkg/plugins/resourcereservation/resourcereservation.go
  pkg/plugins/workloadaware/workloadaware.go
Due: go-fmt, go-vet, go-test
